
  
    .container{
      border: 1px solid  black;
      margin: 50px 50px ;
      padding: 50px 100px;
      background-color: blanchedalmond;
      width: 1200px;
      height: 500px;;
      
}
     .heading{
         color:black;
         font-family: Verdana, Geneva, Tahoma, sans-serif;




}